body {
  font-family: "poppins", sans-serif;
  background-color: #272044;
}
.container {
  max-width: 1400px;
  text-align: center;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/header.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  padding: 200px;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
  text-transform: uppercase;
}

header a {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  background-color: white;
  text-decoration: none;
  letter-spacing: 3px;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
}

@media (max-width: 900px) {
  header {
    padding: 60px;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
}
